# Dependências do Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de build
build/

# Configurações locais e ambiente
.env
.env.local
.DS_Store

# Configurações de editores de texto
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Logs e cache
logs/
*.log
.cache/

# Configurações de sistema operacional
Thumbs.db
.DS_Store
